.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container .inner {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container .inner .nav {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0 25px;
  box-sizing: border-box;
  z-index: 99;
}

.container .inner .nav a {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
  padding: 0 25px;
  color: #1B1B1B;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  
  transition: all 0.32s ease;
}

.container .inner .nav a.menu-activator:hover {
  transform: rotate(90deg);
}

.container .inner .nav a.white {
  color: #FAFAFA;
}

.container .inner .nav a.link {
  float: right;
  position: relative;
  text-align: center;
}

.container .inner .nav a.link i {
  position: absolute;
  display: block;
  transform: translateX(-50%);
  
  transition: all 0.32s ease;
}

.container .inner .nav a.link i.hidden {
  opacity: 0;
  pointer-events: none;
}

.container .inner .nav a.link:hover i {
  opacity: 0;
  pointer-events: none;
}

.container .inner .nav a.link:hover i.hidden {
  opacity: 1;
  pointer-events: auto;
}

.container .inner .nav i.ion-cube {
  display: inline-block;
  position: absolute;
  height: 75px;
  line-height: 75px;
  font-size: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.container .inner .panel {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 60%;
  float: left;
  transform: skew(-20deg);
}

.container .inner .panel.panel-left {
  margin-left: -10%;
}

.container .inner .panel .panel-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) skew(20deg);
}

.container .inner .panel.panel-left .panel-content .image-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 28%;
    opacity: 0.95;
    background-image: url('../img/me.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 81%;
    transform: translateX(-50%) translateY(-14%);
}

.container .inner .panel.panel-right {
  margin-right: -10%;
  background: #1B1B1B;
}

.container .inner .panel.panel-right .panel-content .form {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 300px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}

.container .inner .panel.panel-right .panel-content .form h1 {
  display: block;
  margin: 0 0 45px 0;
  color: #B1B1B1;
  font-weight: 200;
  font-size: 18px;
}

.group { 
  position: relative; 
  margin-bottom: 25px; 
}

input {
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #B1B1B1;
  color: #B1B1B1;
  background: rgba(0,0,0,0);
  opacity: 0.5;
  transition: 0.2s ease;
}

input:focus {
  outline: none;
  opacity: 1;
}

/* LABEL ======================================= */
label {
  color: #B1B1B1; 
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  opacity: 0.5;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top: -10px;
  font-size: 12px;
  color: #B1B1B1;
  opacity: 1;
}

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#B1B1B1; }
  to 	{ width:0; background:transparent; }
}

a.send-btn {
  float: right;
  color: #B1B1B1;
  transition: 0.2s ease;
}

a.send-btn:hover {
  color: #FAFAFA;
  cursor: pointer;
}